In [2]:
import numpy as np
import pandas as pd
l=pd.read_csv("Z:\DA\pizza_price_prediction_5thquestion.csv")
l

FileNotFoundError: [Errno 2] No such file or directory: 'Z:\\DA\\pizza_price_prediction_5thquestion.csv'

# a)	Count the number of null values in the pizza dataset and replace null values with average of the concerned columns.

In [27]:
null_count=l.isnull().sum()
for col in l.columns:
    if null_count[col]>0:
        avg=l[col].mean()
        l[col].fillna(avg,inplace=True)
l

,company,price_cad,diameter,topping,variant,size,extra_sauce,extra_cheese,extra_mushrooms
0,A,$29,22 inch,chicken,double_signature,jumbo,yes,yes,no
1,A,$25,20 inch,papperoni,double_signature,jumbo,yes,yes,no
2,A,$19,16 inch,mushrooms,double_signature,reguler,yes,yes,yes
3,A,$22,14 inch,smoked_beef,double_signature,reguler,yes,no,yes
4,A,$30,18 inch,mozzarella,double_signature,jumbo,yes,no,yes
...,...,...,...,...,...,...,...,...,...
124,E,$11,8.5 inch,tuna,spicy tuna,small,yes,yes,yes
125,E,$14,12 inch,tuna,spicy tuna,medium,yes,yes,yes
126,E,$17,14 inch,tuna,spicy tuna,large,yes,yes,yes
127,E,$12,8.5 inch,meat,BBQ_meat_fiesta,small,yes,no,yes
128,E,$15,12 inch,meat,BBQ_meat_fiesta,medium,no,no,yes

# b)	Calculate average price of pizza prepared by each company.

In [32]:
for i in l["price_cad"]:
    int(i[1:])
# l["price_card"]=[int(i[1:]) for i in l["price_cad"]]
l.groupby("company")["price_card"].mean()

company
A    19.600
B    14.375
C    13.800
D    16.600
E    14.400
Name: price_card, dtype: float64

# c)	Find the companies, who prepared pizzas with different variants with same diameter.

In [39]:
c=l.groupby(["company","diameter"]).nunique()>1
l["company"]

0      A
1      A
2      A
3      A
4      A
      ..
124    E
125    E
126    E
127    E
128    E
Name: company, Length: 129, dtype: object

# d)	Which company has more pizzas? Show the result with graph

# e)	Check whether the pizza data set contains null value or not. /Count the no. of null values in the pizza dataset./ Find the number of missing data points per column.

In [41]:
print("no.of null values:",l.isnull().sum().sum())

no.of null values: 0

# f)	Rename the column price_cad as price.

In [43]:
l.rename(columns={"price_cad":"price"},inplace=True)
l

,company,price,diameter,topping,variant,size,extra_sauce,extra_cheese,extra_mushrooms,price_card
0,A,$29,22 inch,chicken,double_signature,jumbo,yes,yes,no,29
1,A,$25,20 inch,papperoni,double_signature,jumbo,yes,yes,no,25
2,A,$19,16 inch,mushrooms,double_signature,reguler,yes,yes,yes,19
3,A,$22,14 inch,smoked_beef,double_signature,reguler,yes,no,yes,22
4,A,$30,18 inch,mozzarella,double_signature,jumbo,yes,no,yes,30
...,...,...,...,...,...,...,...,...,...,...
124,E,$11,8.5 inch,tuna,spicy tuna,small,yes,yes,yes,11
125,E,$14,12 inch,tuna,spicy tuna,medium,yes,yes,yes,14
126,E,$17,14 inch,tuna,spicy tuna,large,yes,yes,yes,17
127,E,$12,8.5 inch,meat,BBQ_meat_fiesta,small,yes,no,yes,12
128,E,$15,12 inch,meat,BBQ_meat_fiesta,medium,no,no,yes,15

# g)	Identify the number of companies in each category

In [44]:
l.groupby("variant")["company"].nunique()

variant
BBQ_meat_fiesta      2
BBQ_sausage          1
american_classic     1
american_favorite    1
classic              3
crunchy              3
double_decker        3
double_mix           2
double_signature     1
extravaganza         1
gournet_greek        1
italian_veggie       1
meat_eater           1
meat_lovers          2
neptune_tuna         1
new_york             3
spicy tuna           1
spicy_tuna           1
super_supreme        1
thai_veggie          1
Name: company, dtype: int64

# h)	Identify which type of pizza is more expensive

In [46]:
l[l["price"]==max(l["price"])]

,company,price,diameter,topping,variant,size,extra_sauce,extra_cheese,extra_mushrooms,price_card
4,A,$30,18 inch,mozzarella,double_signature,jumbo,yes,no,yes,30

# i)	Find diameter of jumbo size pizza.

In [47]:
l[l["size"]=="jumbo"]["diameter"]

0       22 inch
1       20 inch
4       18 inch
5     18.5 inch
6       16 inch
10    18.5 inch
11      16 inch
15    18.5 inch
16      16 inch
20      22 inch
21    18.5 inch
79    18.5 inch
80      16 inch
84      22 inch
85    18.5 inch
Name: diameter, dtype: object

# j)	Any jumbo pizza with diameter less than 16 exists, remove such rows.

In [51]:
l.drop(l[["size"]=="jumbo"]["diameter"]<16)
l

KeyError: False

# k)	Calculate average price of a pizza prepared by company A.

In [57]:
l[l["company"]=='A']["price"].mean()
l

TypeError: Could not convert $29 $25 $19 $22 $30 $20 $18 $14 $16 $16 $20 $18 $14 $16 $16 $20 $18 $14 $16 $16 $28 $25 $18 $21 $21  to numeric

# l)	Find the mean of the diameter and average price of pizzas prepared by company C.

# m)	Find the companies, who prepared pizzas with different variants with same diameter

# n)	Find the pizza variant with extra_mushrooms and topping with chicken.

# o)	What is the most expensive pizza in each company?

# p)	Which company has more pizzas on the menu? Show the result with graph

# q)	What is the average price of pizza in each company?