In [ ]:
# df list of list->

In [2]:
import pandas as pd
d=[["raw",10],["war",100]]
df=pd.DataFrame(d,columns=["name","rating"])
print(df)

  name  rating
0  raw      10
1  war     100

In [3]:
# df dic of list->

In [4]:
data={
    "car"  : ["merc","bmw","rr"],
    "price": [1000,2000,3000]
}
print(pd.DataFrame(data))

    car  price
0  merc   1000
1   bmw   2000
2    rr   3000

In [5]:
d=pd.Series(["war","tar"],index=["r1","r2"])
print(d)

r1    war
r2    tar
dtype: object

In [6]:
import numpy as np
a=np.array([1,2,3])
b=pd.Series(a,index=("a1","a2","a3"))
print(b)

a1    1
a2    2
a3    3
dtype: int32

In [7]:
print(b["a1"],b["a2"],b[2])

1 2 3

In [8]:
print(d["r1":"r2"])

r1    war
r2    tar
dtype: object

In [9]:
a=np.array([10,20,30])
s=pd.Series(a)
s.name='Data Analysis'
print(s,'\n\n')

s.index.name=' naturals'
print(s)

print(s.values)
print(s.index)
print(s.size)
print(s.empty)

0    10
1    20
2    30
Name: Data Analysis, dtype: int32


 naturals
0    10
1    20
2    30
Name: Data Analysis, dtype: int32
[10 20 30]
RangeIndex(start=0, stop=3, step=1, name=' naturals')
3
False

In [14]:
a=np.array([10,20,30,40,50,60,70])
s=pd.Series(a)
print(s.head())
print(s.tail())
print(s.count())
print(s.head(3))

0    10
1    20
2    30
3    40
4    50
dtype: int32
2    30
3    40
4    50
5    60
6    70
dtype: int32
7
0    10
1    20
2    30
dtype: int32

In [16]:
s1= pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'])
s2 = pd.Series([10,20,-10,-50,100],index = ['z', 'y', 'a', 'c', 'e'])
print(s1+s2)

a     -9.0
b      NaN
c    -47.0
d      NaN
e    105.0
y      NaN
z      NaN
dtype: float64

In [21]:
idx=pd.Index(["  jack","jill   ","jesse   ","   frank"])
print(idx)
print("strip: ",idx.str.strip())
print("ri8 strip: ",idx.str.rstrip())
print("left strip: ",idx.str.lstrip())

Index(['  jack', 'jill   ', 'jesse   ', '   frank'], dtype='object')
strip:  Index(['jack', 'jill', 'jesse', 'frank'], dtype='object')
ri8 strip:  Index(['  jack', 'jill', 'jesse', '   frank'], dtype='object')
left strip:  Index(['jack', 'jill   ', 'jesse   ', 'frank'], dtype='object')

In [18]:
s = pd.Series(["A", "B",
    "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"], dtype="string")
print(s.str.lower())
print(s.str.upper())
print(s.str.len())

0       a
1       b
2       c
3    aaba
4    baca
5    <NA>
6    caba
7     dog
8     cat
dtype: string
0       A
1       B
2       C
3    AABA
4    BACA
5    <NA>
6    CABA
7     DOG
8     CAT
dtype: string
0       1
1       1
2       1
3       4
4       4
5    <NA>
6       4
7       3
8       3
dtype: Int64

In [25]:
s = pd.Series(["a", "b", "c", "d"],dtype="string")
print(s.str.cat(sep=","))
print(s.str.cat())
print(s.str.cat(["A", "B", "C", "D"]))

a,b,c,d
abcd
0    aA
1    bB
2    cC
3    dD
dtype: string

In [36]:
s=pd.Series([10,20,30])
print(s.ndim)
print(s.memory_usage)
print(s.name)
print(s.item)
print(s.flags)

1
<bound method Series.memory_usage of 0    10
1    20
2    30
3    10
4    20
dtype: int64>
None
<bound method IndexOpsMixin.item of 0    10
1    20
2    30
3    10
4    20
dtype: int64>
<Flags(allows_duplicate_labels=True)>